@media screen and (max-width:700px){
    header .container{
        display: flex;
        flex-direction: column;
    }
     .botao{
        margin-top: 5px;
        width: 300px;
      
    }
    .filme-principal{
        margin-bottom: 2%;
}
}

@media screen and (min-width:1000px){
    .filme-principal p.descricao{
        width: 40%;
    }
    .filme-principal{
        height: 800px;
    }
}

@media screen and (min-width:2200px){
    .filme-principal {
        background-size: cover;
        height: 1000px;
    }
    .filme-principal p.descricao{
        width: 30%;
    }
    
}